.home-container {
    overflow: hidden;
}

.home-inventory-items-container {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px;
}

/* .choose-us {
    width: 50%;
} */

/* for mobile phones */
@media only screen and (max-width:576px) {
    .home-inventory-items-container {
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }

}

/* for tablets */

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .home-inventory-items-container {
        grid-template-columns: repeat(2, 1fr);
    }
}