/* .inventory-container {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* text-align: center; */
/* justify-content: center; */
/* align-items: center; */

/* } */

.item-container {
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding: 8px;
    margin: auto;
    display: flex;
    width: 400px;
    justify-content: space-around;
}

.item-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    /* margin-top: 20px; */
}

.single-item-details p {
    margin: 0;
    font-size: small;
}

.single-item-details {
    text-align: start;
    border: none;
}

.item-details-container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.delete-button {
    border: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.delete-icon {
    font-size: 25px;
}